In [19]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

In [20]:
# send the GET request
data = requests.get("https://en.wikipedia.org/wiki/Category:Suburbs_of_Mumbai").text

In [21]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(data, 'html.parser')

In [22]:
# create a list to store neighborhood data
neighborhoodList = []

In [23]:
# append the data into the list
for row in soup.find_all("div", class_="mw-category")[0].findAll("li"):
    neighborhoodList.append(row.text)

In [24]:
# create a new DataFrame from the list
df = pd.DataFrame({"Neighborhood": neighborhoodList})

df.head(10)

      Neighborhood
0          Andheri
1  Anushakti Nagar
2       Baiganwadi
3           Bandra
4          Bhandup
5         Borivali
6          Charkop
7          Chembur
8          Dahisar
9         Devipada

In [25]:
df.to_csv("suburbs.csv")

In [18]:
df =pd.read_csv("suburbs.csv")
df.head()

      Neighborhood
0          Andheri
1  Anushakti Nagar
2       Baiganwadi
3           Bandra
4          Bhandup